<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
      <% for(let shortURL in urls){ %>
       <li> <a href= <%= urls[shortURL] %> > <%= shortURL + " : " +  urls[shortURL] %>  </a></li>
         <form method="POST" action="/urls/<%=shortURL%>/delete">
         <input id="shortURL"type="submit" value="Delete">
       </form>

     <%  } %>

     <a href= " "> Create new tiny url  </a>



</body>
</html>
