<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body style="font-size:20px; padding:50px;">
    <header>

  </header>

    <form action="/login" method="POST" style="margin:150px;">
      <label for="username">userName:</label>
      <input id="username" type="text" name="username" placeholder=" Enter your Username" style="width: 300px">
      <label for="password">userpassword:</label>
      <input id="password" type="password" name="password" placeholder="Enter your password" style="width: 300px">
        <input type="submit" value="Submit">
    </form>
  </body>
</html>