<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
 <% include("./partials/_header", {userId: userId }) %>
</header>


      <% for(var shortURL in url){ %>
       <li> <a href= <%=url/[shortURL]%> > <%= shortURL + " : " +  url[shortURL] %>  </a></li>
         <form method="POST" action="/urls/<%=shortURL%>/delete">
         <input id="shortURL" type="submit" value="Delete">
       </form>

         <a href= "/urls/<%=shortURL%>",> Edit  </a>

     <%  } %>

     <p><a href= "/urls/new",> Create new tiny url  </a> </p>

</body>
</html>