<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
 <% include partials/_header %>
</head>



      <%  console.log(usersListURL) %>

      <%  for(var shortURL in usersListURL){ %>
       <li> <a href= <%=usersListURL/[shortURL]%> > <%= shortURL + " : " +  usersListURL[shortURL] %>  </a></li>
         <form method="POST" action="/urls/<%=shortURL%>/delete">
         <input id="shortURL" type="submit" value="Delete">
       </form>

         <a href= "/urls/<%=shortURL%>",> Edit  </a>

     <%  } %>

     <p><a href= "/urls/new",> Create new tiny url  </a> </p>

</body>
</html>
