<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <script src="expressEx.js"></script>
   urls:urlDatabase
   obj > key:value
   <% for(let i in obj){
      <li> <a href=" "> <% i %>  </a></li>
     } <%
</body>
</html>

<!--
  <% include ../partials/head %>
  ......

   <% for(let i = 0; i < urlDatabase.length; i++) { %>
      <li> <%= urlDatabase[i] %> </li>
     <% } %>

..........

 <%  var i;
            for i in urlDatabase { %>

   <li>< i.value></li>

      }%>
      -->